.header {
  padding: 20px 0;
  background: rgba(20, 20, 20, .7);
}
.header__logo{
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
.header__logo:hover{
  text-decoration: none;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 215px;
  width: 100%;
}