.main__top {
  border-radius: 10px;
  padding: 20px 0;
  border-bottom: 2px solid rgb(255, 255, 255, .6);
}
.main__top-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}